 <div class="center jumbotron">
      <div class="container">
        <h1>Alpha-Blog</h1>
        <%= link_to "Sign Up Now", signup_path, class:"btn btn-primary btn-lg" %>
        <p>This is a template for a simple marketing or informational website. It includes a large callout called a jumbotron and three supporting pieces of content. Use it as a starting point to create something more unique.</p>
       
      </div>
    </div>


