$navbar-default-bg: #9999FF;

@import "bootstrap-sprockets";
@import "bootstrap";

#logo {
    float:left;
    font-size: 1.8em;
    color: #fff;
    text-transform: uppercase;
    letter-spacing: -1px;
    font-weight: 400;
}

#logo:hover {
    color:#fff;
    text-decoration: none;
}

.center {
    text-align:center;
    
}

.imagehome {
    background-image: asset-url('webdesignwhyus.png');
}

.article_actions {
    
    border-top: 1px solid #eaeaea;
    padding-top: 5px;
}


.description {
    margin_top:0;
}

.article-title {
    font-weight: bold;
    font-size: 1.5em;
}


.article-body {
    border-top: 1px solid #eaeaea;
    padding-top: 15px;
    padding-bottom: 15px;
}